/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Source+Sans+Pro&display=swap');

/* variables*/
:root{
    /* main colors go here */
}

/* Full page styles */
* {
    margin: 0;
    list-style-type: none; 
    padding: 0;
    text-decoration: none;
}

body {
    margin: 0;
    background: white;
    line-height: 1.5;
    font-family: source-sans-pro, sans-serif;
    font-weight: 350;
}

h1, h2, h3, h4 {
    font-family: Roboto, sans-serif;
}
h2 {
    font-size: 1.4em;
}
h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1.15em;
}
p {
    font-size: 1em;
}

textarea {
    font-family: source-sans-pro, sans-serif;;
}
/* index.html styles index.html styles index.html styles */
/* Button and input styling */
.button {
    background: #2f47ff;
    border: 1px solid #2f47ff;
    color: white; 
    padding: 10px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}

.button:hover {
    color: #2f47ff;
    background: white;
}

input, textarea, select {
    border: 1px solid black;
    padding: 4px 4px;
    border-radius: 5px;
    color: #363636;
}

/* Header & nav bar styling */

header {
    background: white;
    text-align: center;
    position: fixed;
    width: 100%;  
}

.nav-toggle {
    display: none;
}

a {
    color: inherit;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span, 
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: blue;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: white;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 500ms ease-in-out;
}

nav .site-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em; 
}

nav a {
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 100ms ease-in-out ;
}

nav a:hover {
    color: #363636;
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

#logo {
    float: none;
    width: auto;
    height: 50px;
    margin: 5px;
    cursor: pointer;
}

/* Hero image styling  */

.hero-container {
    display: grid;
    place-items: center;
    padding-top: 67px;
    overflow: hidden;
}
.hero-image {
    width: 100%;
    height: auto;
}

/* First sign up attempt  */

.pitch1 {
   height: auto;
   width: auto;
   max-width: 950px;
   padding: 0px 20px;
   text-align: left;
   margin: 0 auto;
}

.pitch1-text { 
    padding: 20px 0px;
    
}

#pitch-1-links {
    display: grid;
    padding: 20px 30%;
    text-align: center;
    gap: 20px;
}

.pitch-1-images-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 20px 0px;
    row-gap: 20px;
    column-gap: 20px;
    place-items: center;
}

.pitch-1-images {
    
    max-height: 110px;
    max-width: 110px;
    overflow: hidden;
}

/* How does it work? */

.how-it-works {
    height: auto;
    max-width: 950px;
    margin: 0 auto;
    padding: 20px 20px 5px;
    
}

.how {
    padding: 2% 0px;
    text-align: left;
}

#how-heading {
    text-align: center;
}

#step1 {
    
    align-content: center;
    border: 1px solid #dddddd;
    padding: 5%;
    margin: 20px 0px;
    border-radius: 5px;
    background: #dddddd;
}

#step2 {
    align-content: center;
    border: 1px solid black;
    padding: 5%;
    margin: 20px 0px;
    border-radius: 5px;
}
#step3 {
    align-content: center;
    border: 1px solid #dddddd;
    padding: 5%;
    margin: 20px 0px;
    border-radius: 5px;
    background: #dddddd;
}
#step4 {
    align-content: center;
    border: 1px solid black;
    padding: 5%;
    margin: 20px 0px;
    border-radius: 5px;
}

.bold {
    font-weight: bolder;
    text-align: center;
}

.button-index {
    display: grid;
    padding: 20px 30%;
    text-align: center;
    
}

/* about.html styles about.html styles about.html styles */

.profiler {
    width: 335px;
    height: 335px;
}

#credentials {
    height: auto;
    width: auto;
    padding: 20px 0;
    text-align: left;
    border: 1px solid white;
    border-radius: 5px;
    background: white;
}

#credentials h3 {
    text-align: center;
    text-transform: uppercase;
}

#credentials li {
    list-style-type: disc;
    margin-left: 20px;
}

#credentials ul {
    padding: 20px;
}

#message {
    height: auto;
    display: inline-block;
    text-align: left;
    width: auto;
    padding: 20px;
    text-align: left;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background: #dddddd;
}

#message h2 {
    text-align: center;
    text-transform: uppercase;
}



#about-me {
    height: 3950px;
    width: auto;
    text-align: center;
    box-sizing: border-box;
    max-width: 950px;
    margin: 0 auto;
    padding: 67px 20px 20px 20px;
}


.circle-container {
    display: inline-block;
    height: 335px;
    width: 335px;
    background: center / contain no-repeat url(../images/profiler.jpeg);
    border-radius: 50%;
}

.circle-container2 {
    display: inline-block;
    height: 335px;
    width: 335px;
    background: center / contain no-repeat url(../images/message.jpg);
    border-radius: 50%;
}

.circle-container3 {
    display: inline-block;
    height: 335px;
    width: 335px;
    background: center / cover no-repeat url(../images/hobbies.JPG);
    border-radius: 50%;
}

.circle-container4 {
    display: inline-block;
    height: 335px;
    width: 335px;
    background: center / cover no-repeat url(../images/credentials.JPG);
    border-radius: 50%;
}


.credentials-hobbies {
    padding-top: 20px;
}

.hr1 {
    border: 10px solid #FF218B;
    border-radius: 10px;
    opacity: 1;
}

.hr2 {
    border: 10px solid #FF218B ;
    border-radius: 10px;
    opacity: 1;
}

#hobbies {
    height: auto;
    width: auto;
    padding-top: 20px;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    background: white;
}

#hobbies ul {
    text-align: left;
}

/* group training group training group training group training */


.table-container {
    padding: 20px;
    text-align: center;
    max-width: 950px;
    margin: 0 auto;
}

.table-container h3 {
    
    text-align: center;
    text-transform: uppercase;
}

.class-table {
    width: 100%;
    padding: 20px;
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 330px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.class-table thead tr {
    background-color: #2f47ff;
    color: white;
    text-align: center;
    font-weight: bold;
}


.class-table th
.class-table td {
    padding: 12px 15px;
}

.class-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.class-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.class-table tbody tr:last-of-type {
    border-bottom: 2px solid #2f47ff;
}

.form-container {
    background-color: #FF7C59;
    text-transform: uppercase;
    max-width: 950px;
    margin: 20px;
    
    
}

.form-container h2 {
    text-align: center;
    
}

.form-container {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    
}

.form-container input  {
    width: 80%;
    margin: 10px;
    max-width: 500px;
}

.form-container select  {
    width: 80%;
    margin: 10px;
    max-width: 510px;
}

.form-container textarea {
    width: 80%;
    margin: 10px;
    max-width: 500px;
}

#interest {
    margin: 10px;
    max-width: 510px;
}

.map-container {
    margin: 20px;
    text-align: center;
}

.map-container h2 {
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    
}

#map {
    min-height: 340px;
    max-height: 500px;
    max-width: 950px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* group training group training group training group training */

/* private training private training  private training  private training  */

.training-container {
    box-sizing: border-box;
    max-width: 950px;
    margin: 0 auto;
    padding: 20px 20px 5px;
    
    
}

.training-container h2 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.training {
    height: auto;
    width: auto;
    text-align: left;
    margin: 20px 0;
    align-content: center;
    border: 1px solid #dddddd;
    padding: 20px;
    border-radius: 5px;
    background: #dddddd;
}

.training2 {
    height: auto;
    width: auto;
    text-align: left;
    margin: 20px 0;
    align-content: center;
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    background: white;
}

.training3 {
    height: auto;
    width: auto;
    text-align: center;
    margin: 20px 0;
    align-content: center;
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    background: white;
}


.training h4 {
    text-align: left;
    text-transform: uppercase;
    padding: 20px 0px;
}

.training2 h4 {
    text-align: left;
    text-transform: uppercase;
    padding: 20px 0px; 
}

.training li {
    list-style-type: disc;
    margin-left: 20px; 
}

.training2 li {
    list-style-type: disc;
    margin-left: 20px; 
}

.training ul {
    padding: 20px;
}

.training2 ul {
    padding: 20px;
}

/* private training private training  private training  private training  */


/* contact page contact page contact page contact page contact page */

.contact-section {
    padding: 0px 20px;
}

.questions {
    padding-top: 67px;
    text-align: center;
}

/* contact page contact page contact page contact page contact page */ 


/* Footer and social links  */

.footer {
    height: 150px;
    background-color: white;
    align-items: center;
    margin: 0;
    text-align: center;
}

.footer ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.footer ul > li {
    display: inline;
}

.footer i {
    font-size: 3rem;
    padding: 5%;
    color: #1D1A27;
}

/* Footer and social links  */







/* Media queries */

@media screen and (min-width: 442px) {
    .pitch-1-images {
        max-height: 130px;
        max-width: 130px;
        overflow: hidden;
    }
    #about-me {
        height: 3300px;
    }
}

@media screen and (min-width:540px) {
    .pitch-1-images {
        max-height: 160px;
        max-width: 160px;
        overflow: hidden;
    }
}

@media screen and (min-width: 600px) {
    .pitch-1-images {
        max-height: 180px;
        max-width: 180px;
        overflow: hidden;
    }

    #about-me {
        height: 3100px;
        padding-top: 67px;
        width: 100%;
        text-align: center;
    }
}

/* small tablet styles*/
@media screen and (min-width: 760px){ 
    .nav-toggle-label {
        display: none;
    }
    header {
        display: grid;
        grid-template-columns: 1.5fr auto minmax(600px, 7fr) 1fr;
    }
    #logo {
        grid-column: 1 / 2;
    }
    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav .site-nav {
        display: flex;
        
    }
    nav li {
        margin-left: 2em;
        margin-bottom: 0;
    }
    nav a {
        opacity: 1;
        position: relative;
    }
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: #363636;
        position: absolute;
        top: -.75rem;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }
    nav a:hover::before {
        transform: scale(1, 1);
    } 

    .pitch-1-images {
        max-height: 240px;
        max-width: 240px;
        overflow: hidden;
    }

    /* about page */

   #about-me {
    height: 2800px;
    padding-top: 67px;
    width: 100%;
    text-align: center;
}


.circle-container {
    height: 335px;
    width: 335px;
    border-radius: 50%;
}

.credentials-hobbies {
    padding-top: 20px;

}

#credentials {
    float: left;
    width: 50%;
}

#hobbies {
    float: right;
    width: 50%;
}

.center-about {
    /* float: left; */
}

.hr2 {
    display: none;
    clear: both;
}

.hr1 {
    clear: both;
}
    
}

/* large tablets & laptops*/
@media screen and (min-width: 768px) {
    .body {
         font-size: 18px;
     }
    
    .how {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5%;
    }
    #step3 {
        align-content: center;
        border: 1px solid black;
        padding: 5%;
        margin: 20px 0px;
        border-radius: 5px;
        background: white;
    }
    #step4 {
        align-content: center;
        border: 1px solid #dddddd;
        padding: 5%;
        margin: 20px 0px;
        border-radius: 5px;
        background: #dddddd;
    }

    #about-me {
        height: 2350px;
        padding-top: 67px;
        width: 100%;
        text-align: center;
    }

    .class-table {
        font-size: 1.2em;
    }

    

}

@media screen and (min-width: 880px){

    .pitch-1-images {
        max-height: 270px;
        max-width: 270px;
        overflow: hidden;
    }

    #pitch-1-links {
        display: grid;
        padding: 20px 38%;
        text-align: center;
        gap: 20px;
    }

    .button-index {
        display: grid;
        padding: 20px 38%;
        text-align: center; 
    }



    #about-me {
        height: 2100px;
        
    }
  
}
   
@media screen and (min-width: 970px){
    .form-container {
        margin: 0 auto;
    }

/* desktop styles*/
@media screen and (min-width: 1025px){
    .body {
        font-size: 18px;
    }
    
    .hero-container {
        display: grid;
        place-items: center;
        padding: 67px 0px;
        overflow: hidden;
    }

    .pitch-1-images {
    
        max-height: 310px;
        max-width: 310px;
        overflow: hidden;
        
    }

    .pitch1-text {
        font-size: 18px;
    }

    #about-me {
        height: 2000px;
        
    }
    
   

    
}