@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/* variables*/
:root{
    --primary: #f2f1e9;
    --secondary: #0c65b4; 
}

/* reset*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    background: #f2f1e9;
    text-decoration: none;
    line-height: 1.5;
}

/* base styles*/

body {
    font-family: Roboto, sans-serif;
    font-weight: 350;
    overflow-x: auto;
    color: #404040;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 3%;
    width: 100%;
  
    
}

.site-nav {
    list-style: none;
    
}

.site-nav li {
    display: inline-block;
    padding: 0px 20px;
}

.site-nav li a {
    transition: all 0.3s ease 0s;
}

.site-nav li a:hover {
    color: hotpink;
}

a:visited {
    color: inherit;
    text-decoration: none;
   }
img {
    height: auto;
    width: 25%;
}
.profiler {
    float:left;
    width: 25%;
}

#logo {
        /* float: left; */
        width: auto;
        height: 65px;
        margin: 5px;
        cursor: pointer;
}



/* mobile styles*/


/* small tablet styles*/
@media screen and (min-width: 620px){ 
    
}
/* large tablets & laptops*/
@media screen and (min-width: 960px) {

}
   
    
/* desktop styles*/
@media screen and (min-width: 1200px){

}