/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Source+Sans+Pro&display=swap');

/* variables*/
:root{
    /* main colors go here */
}

/* Full page styles */
* {
    margin: 0;
    list-style-type: none; 
    padding: 0;
    text-decoration: none;
}

body {
    margin: 0;
    background: white;
    line-height: 1.5;
    font-family: source-sans-pro, sans-serif;
    font-weight: 350;
}

h1, h2, h3, h4 {
    font-family: Roboto, sans-serif;
}

/* Button styling */
#button {
    background: none;
    border: 1px solid black;
    color: brown; 
    padding: 4px 4px;
    border-radius: 5px;
    text-transform: uppercase;
}

#button:hover {
    color: black;
    background: brown;
}

input, textarea, select {
    border: 1px solid black;
    padding: 4px 4px;
    border-radius: 5px;
    color: #363636;
}


/* Header & nav bar styling */

header {
    background: white;
    text-align: center;
    position: fixed;
    width: 100%;  
}

.nav-toggle {
    display: none;
}

a:visited {
    color: inherit;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span, 
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: blue;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: white;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 500ms ease-in-out;
}

nav .site-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em; 
}

nav a {
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 100ms ease-in-out ;
}

nav a:hover {
    color: #363636;
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

#logo {
    float: none;
    width: auto;
    height: 50px;
    margin: 5px;
    cursor: pointer;
}

/* Hero image styling  */

.hero-container {
    
    display: grid;
    place-items: center;
    padding-top: 67px;
    overflow: hidden;
}
.hero-image {
    width: 100%;
    height: auto;
}

/* First sign up attempt  */

.pitch1 {
   
}

/* How does it work? */

/* Footer and social links  */

.footer {
    height: 150px;
    background-color: yellow;
    align-items: center;
    margin: 0;
}

.footer ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.footer ul > li {
    display: inline;
}

.footer i {
    font-size: 3rem;
    padding: 5%;
    color: blue;
}

/* Media queries */

@media screen and (min-width: 442px) {
    
}

@media screen and (min-width: 600px) {
   
}

/* small tablet styles*/
@media screen and (min-width: 760px){ 
    .nav-toggle-label {
        display: none;
    }
    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 7fr) 1fr;
    }
    #logo {
        grid-column: 1 / 2;
    }
    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav .site-nav {
        display: flex;
        
    }
    nav li {
        margin-left: 2em;
        margin-bottom: 0;
    }
    nav a {
        opacity: 1;
        position: relative;
    }
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: #363636;
        position: absolute;
        top: -.75rem;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }
    nav a:hover::before {
        transform: scale(1, 1);
        .content {
        padding-top: 0px;}
    } 
}

/* large tablets & laptops*/
@media screen and (min-width: 769px) {
    
}
   
/* desktop styles*/
@media screen and (min-width: 1025px){
    .hero-container {
        height: 80vh;
        display: grid;
        place-items: center;
        padding-top: 67px;
        overflow: hidden;
    }  
}